<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="globe showing world news in real time">
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🌏</text></svg>">
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='out.css') }}"
		/>
		<title>GlobalNews</title>
		
		<script
			type="module"
			src="{{ url_for('static', filename='main.js') }}"
			defer
		></script>
	</head>
	<body class="bg-black overflow-hidden flex flex-col items-center">
		<header class="absolute bg-yellow-500 text-white p-1 w-full text-center z-10" id="head">
			GlobalNews
			<button class="right-2 absolute hover:bg-yellow-700" onclick="document.querySelector('#head').style.display='none';">❌</button>
		</header>
	</body>
</html>
